/* #region main */


body
{
    background-color: rgb(219, 219, 219);
    font-family: 'Segoe UI';
}
.dropdown-menu
{
    width: 600px !important;
}
.followBtn
{
    margin-left: 10px;
    height: 30px;
    width: 80px;
    padding-top: unset;
}
.followBtn2
{
    padding-top: unset;
    text-align: left;
}
.custom-item
{
    width: 560px;
    overflow-wrap: break-word;
    word-break: break-all;
    padding: unset;
    margin-left: 20px;
    justify-content: space-between;

    display: flex;

    margin-bottom: 10px;
}
.dropdownFormDiv
{
    width: 110px;
    height: 30px;
    display: flex;
}

#mainbox
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    justify-content: center;
}
.signout
{
    margin-right: 5px;
    margin-left: 5px;
}
.card
{
    height: 450px;
}
.card-img-top
{
    width: auto;
    max-height: 278px;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 4px;
    margin: 0px 0px 0px 0px;
}
button[name='Delete']
{
    width: 80px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
button[name='Edit']
{
    width: 80px;
    position: absolute;
    bottom: 10px;
    left: 100px;
}
button[name='Like']
{
    width: 80px;
    position: absolute;
    bottom: 10px;
    left: 180px;
    margin-left: 10px;
}

/* Button color change */

.btn.btn-secondary.gray
{
    background-color: gray;
}

.btn.btn-secondary.red
{
    background-color: red;
}

#AllPostsText
{
    font-size: 50px;
    width: 100%;
    margin-bottom: 25px;
    height: 50px;
    color: black;
}
#LikedPostsText
{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 100%;
    height: 50px;
    color: black;
}
#noLikedPosts
{
    font-size: 25px;
    margin-top: 50px;
    width: 100%;
    height: 50px;
    color: black;
    text-align: center;
}

#text
{
    width: 500px;
}
.card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding-bottom: 20px;
}
/* #endregion */

/* #region upload/form/edit.php */
#mainbox2
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 130px;
}
#formUpload
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
}
#uploadBdiv
{
    margin-top: 20px;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#uploadB
{
    display: none;
}
#uploadBt
{
    height: 35px;
}
textarea 
{
    resize: none;
    color: rgb(61, 61, 61);
    font-weight: bold;
    text-align: center;
}


#body3
{
    display: flex;
    justify-content: center;

    width: 100%;
}
#mainbox3
{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 130px;
}
#mainform3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
}
#phpDiv3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#img3
{
    max-width: 600px;
}
#textarea3
{
    height: 50px;
    width: 500px;
}
#uploadButtonForm
{
    width: 160px;
    height: 54px;
    position: absolute;
    top: 630px;
    margin-left: -80px;
    padding-top: 13px;
}
.submitEdit3
{
    height: 54px;
    width: 160px;
    position: absolute;
    top: 700px;
}
#uploadBform
{
    display: none;
}
/* #endregion */

/* #region admin???? */



.navbar
{
    width: 100%;
}
#adminBody
{
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#user
{
    width: 200px;
    height: 180px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 7px;
    font-weight: bold;
    flex-wrap: nowrap;
    word-wrap: break-word;
}
.SignOutBtn
{
    width: 300px;
    height: 50px;
    margin: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center; 
}


#spawnBox
{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#SaveButton
{
    width: 70px;
    height: 30px;
    padding-top: 1px;
}


/* #endregion */

/* #region login */
#loginBody
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.loginWrapper
{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.loginWrapper p
{
    width: 100%;
    text-align: center;
    margin: 20px;
}
.loginWrapper form 
{
    text-align: center;
}
.aboveBox
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.registerP
{
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: right; /*????????????????????*/
}
.form-control
{
    font-weight: normal;
}
/* #endregion */